body{
  font-family: OCR A Std, monospace ;
  text-align: center;
}
div connection.a{
  float:left;

}
li{
    float: left;
}
li a{
    display:block;
    color:black;
    text-align: center;
    padding: 16px;
    text-decoration:none;

}
li a:hover{
    background-color: violet;
  

}
tr:hover {background-color:violet;}
