body {
  font-family:OCR A Std, monospace;
  background-image:url('https://wallpapercave.com/wp/wp7453603.jpg');
  }
h1{
    color:rgb(111, 0, 128);
    text-shadow: 2px 2px 5px #c57199;
}

a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: yellow;
  text-decoration: underline;
}

pre{
    text-align:center;
}
.project{
   text-align:center;
}
.footer{
    text-align:end;
}
h2{
  
  text-shadow: 2px 2px 5px #1b8bdc;
}

.connection img:hover{
  
  width:50px;
  height: 50px;

  
}


.connection img{
  padding:16px;
  
}
.intro{
  font-size:30px;
}
